@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  --yellow: hsl(53, 99%, 50%);
  --header-height: 60px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", "helvetica neue", helvetica, arial, sans-serif;
}

header {
  background: var(--yellow);
  padding: 5px;
  height: var(--header-height);
}

.map-container {
  width: 100%;
  height: calc(100vh - var(--header-height));
}

iframe {
  border: none;
}

/* Flex stuff */
.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
